aiohttp
beautifulsoup4
trafilatura
readability-lxml
feedparser
python-dateutil
tqdm
urllib3
pandas
sqlalchemy
aiodns
cchardet
python-magic
fasteners
selenium
webdriver-manager
lxml



#for filterting
transformers
torch
pandas
tqdm

#flask app

Flask==3.0.0
onnxruntime==1.16.3
numpy==1.24.3
scikit-learn==1.2.2
gunicorn==21.2.0

